{% extends 'base.html' %}
{% load static %}
{% block title %}
Seems Good | Обо мне
{% endblock %}

<!-- Page Header -->
{% block page_header %}
    <header class="masthead" style="background-image: url({% static 'img/about-bg1.jpg'%})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Обо мне</h1>
              <span class="subheading">Зачем я это сделал?</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}


    <!-- Main Content -->
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Я занимаюсь разработкой веб-приложений на фреймворке Django языка Python.</p>
          <p>Данное приложение создано в рамках обучения разработки и деплоя.</p>
          <p>В рамках проекта рассмотрены следующий функционал:</p>
					<ul>
						<li>Модели постов</li>
						<li>Публикация с помощью Celery</li>
						<li>Ajax отправка писем</li>
					</ul>
        </div>
      </div>
    </div>
{% endblock %}
