{% extends 'base.html' %}
{% load static %}
{% block title %}
Seems Good | Обо мне
{% endblock %}

<!-- Page Header -->
{% block page_header %}
    <header class="masthead" style="background-image: url({% static 'img/about-bg1.jpg'%})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Обо мне</h1>
              <span class="subheading">Зачем я это сделал?</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}


    <!-- Main Content -->
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Я занимаюсь разработкой веб-приложений на фреймворке Django языка Python.</p>
          <p>Данное приложение создано в рамках обучения разработки и деплоя.</p>
          <p>В рамках проекта рассмотрены следующий функционал:</p>
					<ul>
						<li>Создание постов и счетчиком просмотров с разных ip.</li>
						<li>Поиск по постам.</li>
						<li>Подписка на новые посты.</li>
						<li>Оповещение подписчиков о новых постах с помощью Celery.</li>
						<li>Возможность отписаться от рассылки в каждом письме.</li>
						<li>Комментирование постов.</li>
						<li>Кастомная админка для постов и тегов.</li>
					</ul>
					<div class="container">
						<div class="row">
							<div class="col">
								<hr>
								<p>Используемый стек разработки:</p>
								<ul>
									<li>Python 3/Django 2.1.1</li>
									<li>PostgreSQL</li>
									<li>Celery/Redis</li>
								</ul>
							</div>
							<div class="col">
								<hr>
								<p>Используемый стек деплоя:</p>
								<ul>
									<li>Nginx</li>
									<li>Gunicorn</li>
									<li>Ubuntu 18</li>
								</ul>
							</div>
						</div>


        </div>
      </div>
    </div>
{% endblock %}
