{% extends 'base.html' %}
{% load static %}

{% block page_header %}
	<header class="masthead" style="background-image: url('{% static 'img/home-bg1.jpg' %}')">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>Seems Good Blog</h1>
						<span class="subheading">Мой блог обо всем.<br>Enjoy ;)</span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block content %}
	<!-- Post-card -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				{% for post in posts %}
					<div class="post-preview">
						<a href="{{ post.get_absolute_url }}">
							<h2 class="post-title">
								{{ post.title }}
							</h2>
							<h3 class="post-subtitle">
								{{ post.sub_title }}
							</h3>
						</a>
						<p class="post-meta">Опубликовано
							<a href="{% url 'about' %}">Автором</a>
							{{ post.publish_date|date }}</p>


					<!-- Tags -->
						{% if post.tags.all %}
							<p class="post-meta">Теги:
								{% for tag in post.tags.all %}
								<a href="{{ tag.get_absolute_url }}">{{ tag.title }} </a>
								{% endfor %}
							</p>
						{% endif %}


					</div>
					<hr>
				{% endfor %}

				<!-- Paginator -->
			{% if posts.paginator.num_pages != 1 %}
				<nav>
					<ul class="pagination justify-content-end">
						{% if posts.has_previous %}
							<li class="page-item">
								<a class="page-link text-dark" href="?page={{ posts.previous_page_number }}">Назад</a>
							</li>
						{% endif %}


						{% for page in posts.paginator.page_range %}
							{% if posts.number == page %}
							<li class="page-item disabled">
								<span class="page-link text-dark"><b><u>{{ page }}</u></b></span>
							</li>
							{% else %}
							<li class="page-item">
								<a class="page-link text-dark" href="?page={{ page }}">
									{{ page }}
								</a>
							</li>
							{% endif %}
						{% endfor %}

						{% if posts.has_next %}
							<li class="page-item">
								<a class="page-link text-dark" href="?page={{ posts.next_page_number }}">Далее</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			{% endif %}

			</div>
		</div>
	</div>
{% endblock %}
