{% extends 'base.html' %}
{% load static %}
{% block title %}
	{{ post.title }}
{% endblock %}

<!-- Page Header -->
{% block page_header %}
    <header class="masthead" style="background-image: url({{ post.bg_img.url }})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <h2 class="subheading">{{ post.sub_title }}</h2>
              <span class="meta">Опубликовано
                <a href="{% url 'about' %}">Автором</a>
                 {{ post.publish_date|date }}</span>
						<!-- Tags -->
							{% if post.tags.all %}
								<p class="post-meta">Теги:
									{% for tag in post.tags.all %}
										<a class="text-white" href="{% url 'tag_select' tag.slug %}">{{ tag.title }} </a>
									{% endfor %}
								</p>
							{% endif %}
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}

    <!-- Post Content -->
{% block content %}
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.content|safe }}
          </div>
        </div>
      </div>
    </article>

    <hr>

		<!-- Post Comments -->
	<div class="container comments">
		<div class="row">
			<div class="col-sm-12">
				<h3>Комментарии:</h3>
			</div>
		</div>

		{% if comments is not None %}
			{% for comment in comments %}
			<div class="row mb-3 justify-content-center">
				<div class="card">
					<div class="card-header">
						<strong>{{ comment.nickname }}</strong> <span class="text-muted">{{ comment.date }}</span>
					</div>
					<div class="card-body">
						{{ comment.text }}
					</div>
				</div>
			</div>
			{% endfor %}
		{% endif %}

			{#		Comment form#}
			<div class="row justify-content-center">
				<form class="w-100" action="{% url 'post' post.slug %}" method="post">{% csrf_token %}
					<div class="form-group">
						{{ comment_form.nickname }}
						{% if comment_form.nickname.errors %}
							<div class="m-auto alert alert-danger" style="max-width: 314px">
							{{ comment_form.nickname.errors }}
							</div>
						{% endif %}
					</div>
					<div class="form-group">
						{{ comment_form.text }}
						{% if comment_form.text.errors %}
							<div class="m-auto alert alert-danger" style="max-width: 314px">
							{{ comment_form.text.errors }}
							</div>
						{% endif %}
					</div>
					<input type="number" name="{{ comment_form.post.name }}" hidden value="{{ post.id }}">
					<div class="form-group text-center">
						<button class="btn btn-primary" type="submit">Отправить</button>
					</div>
				</form>
			</div>

		</div>

	</div>
{% endblock %}
