{% extends 'base.html' %}
{% load static %}
{% block title %}
	{{ post.title }}
{% endblock %}

<!-- Page Header -->
{% block page_header %}
    <header class="masthead" style="background-image: url({% static 'img/post-bg.jpg' %})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <h2 class="subheading">{{ post.content|safe|truncatewords:15 }}</h2>
              <span class="meta">Опубликовано
                <a href="{% url 'about' %}">Автором</a>
                 {{ post.publish_date }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}

    <!-- Post Content -->
{% block content %}
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.content|safe }}
          </div>
        </div>
      </div>
    </article>
{% endblock %}
