{% extends 'base.html' %}
{% load static %}

{% block title %}
	{{ tag.title }} - {{ block.super }}
{% endblock %}

{% block page_header %}
	<header class="masthead" style="background-image: url('{% static 'img/cat-bg.jpg' %}'); background-size: cover;">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>Посты с тегом:</h1>
						<span class="subheading">{{ tag.title|title }}</span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				{% include "post_card.html" with posts=tag.posts.all %}
			</div>
		</div>
	</div>
{% endblock %}
